body {
  text-align: center;
}

h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

p {
  font-family: Helvetica;
  font-size: 14px;
}

.Links {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

.Top_Header {
  background-image: url("resources/images/the-flatiron-building.png");
}

.Mid-Splitter {
  background-image: url(the-flatiron-building.png);
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

.Footer {
  color: white;
  background-color: dimgray;
  text-align: left;
}
